

/* 
  .cardsline2{
  display: none;
  }
  .cardsline3{
    display: none;
    }
    .cardsline4{
      display: none;
      }
      .cardsline1a{
        height: 758px;
width: 425px;
left: 1px;
top: 343px;
border-radius: 0px;

        }
        .footer__body{
          display: none;
        }
        .img1e{
          content: url('./images/logo\ \(5\).png');
          height: 43.71794891357422px;
          width: 50px;
          left: 1px;
          top: 8px;
          border-radius: 0px;
          
        }
        .img2{
          height: 43.71794891357422px;
          content: url('./images/logo\ \(5\).png');
          width: 100px;
          left: 1px;
          top: 8px;
          border-radius: 0px;
          

        }
        .img3{
          height: 21.532814025878906px;
          width: 23px;
          left: 259px;
          top: 30.3447265625px;
          border-radius: 0px;
          
        }
        .home{
          height: 25.277650833129883px;
width: 123px;
left: 293px;
top: 28.0859375px;
border-radius: 1.7272361516952515px;

        }
        .thedynamics{
          display: none;
        }
} */

.dark__app{
    background-color: black;
  }
  .dark__app .slantsection{
    background-color: #2D2D2D;
  
  }
  .dark__app .footer__body{
    color: white;
  }
  .dark__app .footer{
    background-color: #2D2D2D;
  }
  .dark__app .img2{
    content: url('./images/Vector\ \(11\).png');
    height: 71.17500305175781px;
    width: 55.08332824707031px;
    left: 61%;
    top: 50.78759765625px;
    border-radius: 0px;
    cursor: pointer;
  }
  .dark__app .img1a{
    background-color: black;
  
  }
  .dark__app .thedynamics{
    color: white;
  }
  .dark__app .body{
    color: white;
  }
  .dark__app .card__body2{
    color: white;
  }
  .dark__app .card__body3{
    color: white;
  }
  .dark__app .card__body{
    color: white;
  }
  .dark__app .name{
    color: white;
  }
  .dark__app .card__body3e{
    color: white;
  }
  .dark__app .cardsline1a{
  background-color: #2D2D2D;
  }
  .dark__app .cardsline1b{
    background-color: #2D2D2D;
  }
  
  .dark__app .cardsline1c{
    background-color: #2D2D2D;
  }
  
  .dark__app .cardsline1d{
    background-color: #2D2D2D;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  