.slantsection{
    height: 474.7581647999612px;
width: 100%;
margin-left: -13.13671875px;
top: 252.51800537109375px;
border-radius: 0px 0px 12.5456px 12.5456px;
transform: rotate(-3.2deg);
background-color: #F8FBFF;
box-shadow: 0px 15px 10px -15px #E5E5E5;  
/* position: absolute; */
}
.title{
    height: 110px;
width: 1035px;
left: 146px;
top: 261px;
border-radius: nullpx;
font-family: Myriad Pro;
font-size: 90px;
font-weight: 700;
line-height: 108px;
letter-spacing: 0em;
text-align: left;
position: relative;
color: #03A9F4;
position: absolute;

} 
.img2a{
    content: url('./images/image\ 2.png');
    height: 87.99999770417897px;
width: 95.99999749546797px;
left: 17.56640625px;
margin-top: -10px;
border-radius: 0px;
position: absolute;
}
.img3a{
    content: url('./images/image\ 3.png');
    height: 253.591261802839874px;
    width: 63.25576384833494px;
    left: 96%;
    top: 480.1868286132812px;
    border-radius: 0px;
position: absolute;
transform: rotate(20.36deg);
}
.img4a{
    content: url('./images/Vector\ \(10\).png');
    height: 52.707900912708375px;
    width: 65.90055836131819px;
    left: 95%;
    margin-top: 50.9611206054688px;
    border-radius: 0px;
    position: absolute;
}
.body{
    height: 80px;
width: 1112px;
left: 104px;
top: 416px;
border-radius: nullpx;
font-family: Myriad Pro;
font-size: 30px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: center;

font-family: Myriad Pro;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
position: absolute;

}
.about{
    height: 80.89990234375px;
width: 363.7492980957031px;
/* left: 364.4375px; */
/* top: 535.0570678710938px; */
border-radius: 4.645669460296631px;
background-color: #4CB050;
/* height: 38px; */
border: none;
/* width: 223.4305877685547px; */
left: 270.8984375px;
top: 555.7711791992188px;
border-radius: nullpx;
position: absolute;
font-family: Myriad Pro;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
/* padding-top: 40px;
padding-bottom: 40px; */
color: #FFFFFF;
}
.join{
    height: 80.89990234375px;
width: 363.7492980957031px;
left: 666.80859375px;
top: 535.1528930664062px;
border-radius: 4.645669460296631px;
/* height: 38px;
width: 298.98681640625px; */
left: 700.171875px;
top: 556.8668365478516px;
border-radius: nullpx;
border: none;
font-family: Myriad Pro;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
background: #03A9F4;
position: absolute;
}
.img5{
    content: url('./images/Tape\ -\ S.png');
    height: 103.00000259933321px;
width: 72.10806646653246px;
margin-left: 60.46875%;
top: 150px;
border-radius: 0px;
transform: rotate(-3.03deg);
position: absolute;
}
.img6{
    content: url('./images/Vector\ \(8\).png');
    height: 49.999998552982625px;
    width: 35.149363454200724px;
    /* left: 15.078125px; */
    top: 226.9444580078125px;
    border-radius: 0px;
    position: absolute;
    
}
.img7{
    content: url('./images/Tape\ -\ S.png');
    height: 103.00000259933321px;
width: 72.10806646653246px;
margin-left: 21.46875%;
top: 150px;
border-radius: 0px;
transform: rotate(-3.03deg);
position: absolute;
}
.tapes{
    display: flex;
    justify-content: space-between;
}

/* @media only screen and (min-width: ) {
    .title{
        height: 31px;
        width: 320px;
        left: 50px;
        top: 215px;
        border-radius: nullpx;
        font-family: Myriad Pro;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;

    }
    .body{
        height: 55px;
        width: 411px;
        left: 7px;
        top: 293px;
        border-radius: nullpx;
        font-family: Myriad Pro;


font-family: Myriad Pro;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

    }
    .about{
        height: 28.086334228515625px;
width: 108px;
left: 94px;
top: 377.90234375px;
border-radius: 1.7227494716644287px;

       
        font-family: Myriad Pro;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: left;

    }
    .join{
        height: 28.086288452148438px;
width: 116px;
left: 218px;
top: 377.90234375px;
border-radius: 1.7227494716644287px;

        
        font-family: Myriad Pro;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: left;

    }
    .slantsection{
        height: 193.8967505567432px;
width: 473.7007306809419px;
left: -29.26953125px;
top: 101.369140625px;
border-radius: 0px;

    }
    .img6{
        height: 17.19175670461301px;
        width: 12.224709157015882px;
        left: 10px;
        top: 229px;
        border-radius: 0px;
        
    }
    .img7{
        height: 19.886566984358904px;
        width: 33.33030012357771px;
        left: 19.23828125px;
        top: 210px;
        border-radius: 0px;
        
    }
    .img5{
        height: 20.112478515371862px;
        width: 39.12241247582162px;
        left: 19.875px;
        top: 190px;
        border-radius: 0px;
        
    }
} */